section {
    width: 64%;
    background-color: #FFF;
    padding: 2%;
    margin-bottom: 2%;
}
section a {
    text-decoration: none;
    color:#000;
}
section a h1 {
    border-bottom: 1px solid black;
    margin-bottom: 2%;
}
.imagen_art {
    background-image: url(../img/yoda1.png);
    
    background-size: cover;
    background-repeat: no-repeat;
    background-color: grey;
    margin-bottom: 2%;
    height: 20vh;
}
#img01 {
    background-image: url(../img/av_header.jpg);
    background-position-x: center;
}
#img02 {
    background-image: url(../img/tdsaf_header.png);
    background-position-y: 30%;
}
#img03 {
    background-image: url(../img/tftl_header.jpg);
    background-position-y: 40%;
}
#img04 {
    background-image: url(../img/calm_header.jpg);
    background-position-y: 40%;
}
aside {
    /* border: 1px solid black; */
    width: 20%;
    background-color: #FFF;
    float: right;
    position: fixed;
    right: 21%;
    
}
aside h1 {
    background-color: #0066FF;
    color: #FFF;
    text-align: center;
    padding: 1%;
}
aside ul {
    display: block;
    
}
aside li {
    border-bottom: 1px solid black;
    padding: 1%;
}

aside a {
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 20px;
}

@media screen and (max-width: 800px) {
    main {
        margin-top: 20%;
    }
    section {
        width: 100%;
        margin-bottom: 5%;
    }
    section>p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    aside {
        display: none;
    }
}
@media screen and (orientation: landscape) {
    aside {
        right: 7%;
        width:27%;
    }
    aside a {
        font-size: 15px;
    }
}
@media screen and (max-width: 425px) {
    main {
        margin-top: 35%;
    }
}