section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
ul, li {
    list-style: none;
    margin: 0 auto;
}
div .galeria {
    display: flex;
    flex-direction: row;
}
div .galeria div {
    opacity: 0;
    transition: opacity 0.5s;
    /* border: 1px solid #FFF; */
    width: 70vh;
    height: 70vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#fotito01 {
    background-image: url(../img/galeria01.png);
    transform: translateX(140vh);
}
#fotito02 {
    background-image: url(../img/galeria02.png);
    transform: translateX(70vh);
    background-color: black;
}
#fotito03 {
    background-image: url(../img/galeria03.jpg);
}
#fotito04 {
    background-image: url(../img/galeria04.jpg);
    transform: translateX(-70vh);
}
#fotito05 {
    background-image: url(../img/galeria05.jpg);
    transform: translateX(-140vh);
}
.menu {
    width: 50%;
    margin-top: 2%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu div {
    width:5vh;
    height: 5vh;
    background-color: #0066FF;
    border:2px solid rgb(255, 255, 255);
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
}
.menu div:hover {
    background-color:#ff2ca0;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
    
    transition: 0.2s ease-in-out;
}
div .galeria div:first-child {
   opacity: 1;
}
div .galeria div:target {
    opacity: 1;
    z-index: 2;
}

@media screen and (max-width: 800px){
    main {
         margin-top: 25%;
         padding: 3%;
    }
 
    div .galeria div {
        height: 60vh;
        /* background-size: 70%; */
    }
 }

 @media screen and (max-width:450px)  {
    main {
        margin-top: 35%;
    }
    .menu {
        width:100%;
        margin-top: 10%;
        margin-bottom: 7%;
    }
   
    
}