main {
    width: 100%;
}

main section {
    /* border: 1px solid black; */
    padding: 3%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    margin-bottom: 10%;
}

.imagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* border: 1px solid blue; */
    width: 75%;
}

.foto {
    background-image: url(img/yoda1.png);
    background-color: #FFF;
    border-radius: 25px;
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
    /* border: 1px solid black; */
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.1);
    width: 30vh;
    height: 30vh;
    margin-right: -5%;
}
/*------------------------------FOTOS IMPARES------------------------------*/
.foto:nth-child(odd) {
    transform: rotate(7deg);
    margin-top: 10%;
    
}
/*------------------------------FOTOS PARES------------------------------*/
.foto:nth-child(even) {
    transform: rotate(-7deg);
}

.b_texto {
    /* border: 1px solid red; */
    width: 25%;
    display: flex;
    flex-direction: column;
    /* margin-right: 2%; */
    z-index: 2;
}

h1 {
    /* border: 1px solid black; */
    font-size: 80px;
    line-height: 0.8;
    margin-bottom: 10%;
}

.more {
    background-color: #0066FF;
    padding: 5%;
    margin-top: 1%;
    width:fit-content;
    border-radius: 10px;
    border: none;
    color: #FFF;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.more:hover {
    box-shadow: 5px 5px 1px 1px rgba(255, 255, 255, 1);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

@media screen and (max-width: 800px) {
    main {
        margin-top: 30%;
    }
    main section {
        flex-direction: column;
        margin-bottom: 20%;
    }
    .b_texto {
        width: 100%;
        align-items: center;
        margin-bottom: 3%;
    }
    .more {
        display: none;
    }
    .imagenes {
        width: 100%;
    }
    .foto {
        height: 15vh;
    }
}

@media screen and (max-width: 425px) {
    h1 {
        font-size: 20px;
    }
}