/*HOJA DE ESTILOS CSS*/
*{padding: 0; margin: 0; }
html, body {height: 100vh; background-image: url(img/bckg.png);  font-family: Montserrat; position: relative; margin: 0 auto;}

/* header, nav, article, main {border: 1px solid black;} */
header {
    position: absolute;
    top: 2%;
    left: 2%;
    width: 20%;
    float: left;
}
header > a {
    display: flex;
    align-items: center;}

img {width: 20%;}
span {margin-left: 10%;}
nav {width: 80%; text-align: right; top: 2%; right: 2%; position: absolute;}
ul {width: 100%;}
li {list-style: none; padding: 1%; width: 7%; margin-left: 2%; border-radius: 15px; text-align: center;}

a {text-decoration: none; color: #000;}
nav ul li { display: inline-block;}
li:last-child{background-color: #000;}
nav ul li:hover {background-color: #FFF;}
nav ul li:last-child:hover {background-color: rgba(0, 0, 0, 0); box-shadow: inset 0px 0px 0px 3px #000; width: 7%;}

main {position: absolute; top: 20%; left: 20%; margin: 0 auto; width: 60%;}
article{position: absolute; padding:10% 0% 10% 0%; width: 100%;}
h1 {
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #0066FF;
    }
 h2 {
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.01em;
    text-align: left;
    }

.icono {
    background: rgba(255, 0, 140, 0.185);
    padding: 1%;
    border-radius: 50%;
    width: 3%;
    margin-top: 2%;
   }

footer {
    position: absolute;
    width: 100%;
    height: 90px;
    bottom: 0;
    background: #0066FF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    }

.ftxt {
    color: #FFF;
    }