#imgFondo h1 {
    color:#0066FF; font-size: 40px;
    transform: translateY(350%);
    text-shadow: -2px 2px 2px rgba(20, 20, 20, 0.281);
}
#imgFondo h2 {
    transform: translateY(400%);
    text-shadow: -2px 2px 2px rgba(20, 20, 20, 0.281);
}
main section h2 {
    font-size: 60px; 
    line-height: 45px;
}

#imgFondo {
    /* border: 1px solid black; */
    margin: 0 auto;
    background-image: url(img/yoda1.png);
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 80vh;
}

.irrss {width: 3.5%; margin-top: 18%}

@media screen and (max-width: 800px) {

      img {width:15%;}
      main {
          /* margin-top: 37%; */
          width: 100%;
      }
     #imgFondo {height: 100vh;}
      #imgFondo h2 {
          font-size: 40px; 
          line-height: 30px;
          transform: translateY(300%);
      }
      .irrss {width: 10%; margin-top: 42%}
  }
  
  @media screen and (max-width: 425px) {
      main {
          padding-top: 25%;
      }
      #imgFondo h1 {
          color:#0066FF; font-size: 15px;
          transform: translateY(350%);
      }
      #imgFondo h2 {
          font-size: 20px; 
          line-height: 16px;
          transform: translateY(220%);
      }
      #imgFondo {
          /* border: 1px solid black; */
          margin: 0 auto;
          background-image: url(img/yoda1.png);
          background-position:center;
          background-repeat: no-repeat;
          background-size: contain;
          width: 100%;
          height: 80vh;
      }
      .irrss {width: 10%; margin-top: 35%}
  }